/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "CDC_ACM_0";
	};
};

&lpuart4 {
         status="okay";
         current-speed = <115200>;
};

&lpi2c1 {
  status="okay";
};

&adc1 {
      status = "okay";
};

&adc2 {
      status = "okay";
};

&flexcan1 {
	status = "disabled";
};

&flexpwm2 {
    status = "okay";
};

&flexpwm2_pwm0 {
    status = "okay";
};

&flexpwm2_pwm2 {
    status = "okay";
};

&flexpwm2_pwm3 {
    status = "okay";
};
